

div{
    height: 400px;
    width: 400px;

    border-width: 20px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 5px;

    background-image: url(img/flor.jpg);
    text-align: center;
    box-shadow: inset 1px 1px 19px 9px rgb(218, 49, 49);
    background-size: contain;

    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;

    outline-width: 10px;
    outline-style: double;
    outline-color: rgb(197, 52, 142);

    margin: auto;
    margin-top: 100px;
}

p{
    padding-top: 100px;
    font-style:normal;
    font-size: 50px;
    color: yellow;
    font-weight: bold;
    text-align: center;
}